collections:
  team:
  projects:
    output: true

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
    values:
      layout: "default"

sass:
  load_paths:
    - _sass
    - node_modules

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - Makefile
  - node_modules
  - package.json
  - package-lock.json
  - README.md

include:
  - .well-known
