---
title: Komolion Fund

jumbotron-title: Empower locals to change lives
jumbotron-subtitle: Community members drive social change. We are there to help.
jumbotron-give-button-text: Give Now
jumbotron-report-button-text: View 2019 Report

mission-title: We envision a world in which children and adults have opportunities to thrive personally and to make
    positive contributions to their communities.
mission-content: Komolion Human Development Fund encourages and provides funding for projects in local communities that
    are designed by community members to enable increased education, health, cooperation, poverty reduction and quality
    of life for the entire community.

core-values-title: Core Values

donations-title: All administrative costs (besides processing fees) are covered by the Komolion Human Development Fund's
    Board of Directors, so 100% of your donation goes directly to empowering communities in Kenya.

projects-title: Projects & Partnerships

video-title: Featured Video
video-description: The winds of change are blowing in Komolion, a tiny village in East Pokot, Kenya. A non-governmental
    organization called Noonkera, supported by the Komolion Fund, has championed the cause of ending female genital
    mutilation once and for all in this community.
---
<div id='jumbotron' class='text-center'>
  <div id='jumbotron-overlay' class='h-100'>
    <div class='container-fluid h-100'>
      <div class='row h-100'>
        <div class='col align-self-center'>
          <h1 id='jumbotron-text' class='row justify-content-center display-4 text-light'>
            {{ page.jumbotron-title | upcase }}
          </h1>
          <div class='row justify-content-center d-none d-sm-block'>
            <hr id='jumbotron-rule'>
          </div>
          <h4 id='jumbotron-sub-text' class='row justify-content-center text-light d-none d-sm-block'>
            {{ page.jumbotron-subtitle }}
          </h4>
          <div class='row justify-content-center mt-4'>
            <a id='jumbotron-give-btn'
               class='jumbotron-btn m-2 btn-primary btn-lg'
               href='/give.html'>
              {{ page.jumbotron-give-button-text | upcase }}
            </a>
            <a id='jumbotron-report-btn'
               class='jumbotron-btn m-2 btn-secondary btn-lg'
               href='/assets/pdf/2019report.pdf'
               target='_blank'
               rel='noreferrer noopener'>
              {{ page.jumbotron-report-button-text | upcase }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='mission-banner' class='bg-light'>
  <div class='container-fluid'>
    <div class='row'>
      <div id='mission-title' class='col text-center'>
        {{ page.mission-title }}
      </div>
    </div>
    <div class='row'>
      <div id='mission-text' class='col text-center'>
        {{ page.mission-content }}
      </div>
    </div>
  </div>
</div>
<div id='core-values-banner' class='bg-secondary'>
  <div class='container-fluid'>
    <div id='core-values-title-wrapper' class='text-center'>
      <span id='core-values-title'>
        {{ page.core-values-title }}
      </span>
    </div>
    <div class='row text-center'>
      {% for value in site.data.values %}
      <div class='core-value ml-auto mr-auto col col-md-4 col-12'>
        <div class='row'>
          <div class='core-value-icon'>
            <i class='fa fa-3x fa-{{ value.icon }} text-primary'></i>
          </div>
        </div>
        <div class='row'>
          <div class='core-value-title'>
            {{ value.title }}
          </div>
        </div>
        <div class='row'>
          <div class='core-value-content'>
            {{ value.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id='donations-banner' class='bg-primary'>
  <div class='container-fluid'>
    <div class='row'>
      <div id='donations-banner-text' class='col text-center text-light'>
        {{ page.donations-title }}
      </div>
    </div>
  </div>
</div>
<div id='our-projects-banner' class='bg-light'>
  <div class='container-fluid'>
    <div id='our-projects-title-wrapper' class='text-center'>
      <span id='our-projects-title'>
        {{ page.projects-title }}
      </span>
    </div>
    <div class='row justify-content-center'>
      {% for project in site.projects %}
      <div class='project-section col col-lg-3 col-md-4 col-sm-6 col-12'>
        <a href='{{ project.url }}'><img class='our-projects-image' width='100%' src='{{ project.image }}'/></a>
        <div class='our-projects-image-title pl-2 pr-2 text-center'>{{ project.title }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id='featured-video-banner' class='bg-secondary'>
  <div class='container-fluid'>
    <div class='row'>
      <div id='featured-video-info' class='ml-auto mr-auto col col-md-6 col-12'>
        <div id='featured-video-title-wrapper' class='text-center'>
          <span id='featured-video-title'>
            {{ page.video-title }}
          </span>
        </div>
        <div id='featured-video-description'>
          {{ page.video-description }}
        </div>
      </div>
      <div id='featured-video-wrapper' class='ml-auto mr-auto col col-md-6 col-12'>
        <div id='featured-video' class='embed-responsive embed-responsive-16by9'>
          <iframe class='embed-responsive-item' src='https://www.youtube.com/embed/Sne4eb4xemU'
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='numbers-banner' class='bg-primary d-none d-sm-block'>
  <div class='container-fluid'>
    <div class='row text-center'>
      {% for number in site.data.numbers %}
      <div class='col col-md-3 col-6'>
        <div class='number-icon'>
          <i class='fa fa-3x fa-{{ number.icon }} text-light'></i>
        </div>
        <div class='number-title'>
          {{ number.title }}
        </div>
        <div class='number-content'>
          {{ number.content }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
