---
layout: default
title: Komolion Fund

jumbotron-title: Empower locals to change lives
jumbotron-subtitle: Community members drive social change. We are there to help.
jumbotron-button-text: Give Now

mission-title: We envision a world in which children and adults have opportunities to thrive personally and to make
    positive contributions to their communities.
mission-content: Komolion Human Development Fund encourages and provides funding for projects in local communities that
    are designed by community members to enable increased education, health, cooperation, poverty reduction and quality
    of life for the entire community.

core-values-title: Core Values

donations-title: All administrative costs (besides processing fees) are covered by the Komolion Human Development Fund's
    Board of Directors, so 100% of your donation goes directly to empowering communities in Kenya.

projects-title: Projects & Partnerships
---
<div id='jumbotron'>
  <div id='jumbotron-overlay' class='h-100'>
    <div class='container h-100'>
      <div class='row h-100'>
        <div class='col align-self-center'>
          <h1 id='jumbotron-text' class='row justify-content-center text-center display-4 text-light'>
            {{ page.jumbotron-title | upcase }}
          </h1>
          <div class='row justify-content-center'>
            <hr id='jumbotron-rule'>
          </div>
          <h4 id='jumbotron-sub-text' class='row justify-content-center text-light'>
            {{ page.jumbotron-subtitle }}
          </h4>
          <div class='row justify-content-center mt-4'>
            <a id='jumbotron-btn'
               class='btn-primary btn-lg'
               href='https://donorbox.org/komolion-fund-donations'
               target='_blank'>
              {{ page.jumbotron-button-text | upcase }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='mission-banner' class='bg-light'>
  <div class='container'>
    <div class='row'>
      <div id='mission-title' class='col text-center'>
        {{ page.mission-title }}
      </div>
    </div>
    <div class='row'>
      <div id='mission-text' class='col text-center'>
        {{ page.mission-content }}
      </div>
    </div>
  </div>
</div>
<div id='core-values-banner' class='bg-secondary'>
  <div class='container'>
    <div id='core-values-title' class='text-center'>
      {{ page.core-values-title }}
    </div>
    <div class='row text-center'>
      {% for value in site.data.values %}
      <div class='col col-lg-4'>
        <div class='row'>
          <div class='core-value-icon'>
            <i class='fa fa-3x fa-{{ value.icon }} text-primary'></i>
          </div>
        </div>
        <div class='row'>
          <div class='core-value-title'>
            {{ value.title }}
          </div>
        </div>
        <div class='row'>
          <div class='core-value-content'>
            {{ value.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id='donations-banner' class='bg-primary'>
  <div class='container'>
    <div class='row'>
      <div id='donations-banner-text' class='col text-center text-light'>
        {{ page.donations-title }}
      </div>
    </div>
  </div>
</div>
<div id='our-projects-banner' class='bg-light'>
  <div class='container'>
    <div id='our-projects-title' class='text-center'>
      {{ page.projects-title }}
    </div>
    <div class='row'>
      {% for project in site.projects %}
      <div class='col col-lg-3'>
        <a href='{{ project.url }}'><img class='our-projects-image' width='100%' src='{{ project.image }}'/></a>
        <div class='our-projects-image-title pl-2 pr-2 text-center'>{{ project.title }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id='numbers-banner' class='bg-primary'>
  <div class='container'>
    <div class='row text-center'>
      {% for number in site.data.numbers %}
      <div class='col col-lg-3'>
        <div class='number-icon'>
          <i class='fa fa-3x fa-{{ number.icon }} text-light'></i>
        </div>
        <div class='number-title'>
          {{ number.title }}
        </div>
        <div class='number-content'>
          {{ number.content }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
