---
title: Board of Directors
---
<div class='bg-light'>
  <div class='container-fluid pb-5'>
    <div class='row'>
      <h1 class='col text-center mt-4'>Board of Directors</h1>
    </div>
    {% for member in site.team %}
    <hr>
    <div class='row team-member-row align-items-center'>
      <div class='col col-3'>
        <img class='team-member-photo' src='{{ member.image }}'/>
      </div>
      <div class='col col-9'>
        <div class='team-member-title mb-2'>
          {{ member.name }} - {{ member.position}}
          {% if member.linkedin %}
          <a href='https://www.linkedin.com/in/{{ member.linkedin }}' target='_blank'>
            <i class='fab fa-md fa-linkedin text-linkedin ml-1'></i>
          </a>
          {% endif %}
        </div>
        <div class='team-member-description'>{{ member.content | markdownify }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
