jobs:
  deploy:
    docker:
      - image: circleci/ruby:2.5-node-browsers
    working_directory: ~/komolion.github.io
    steps:
      - checkout
      - run:
          name: Install dependencies and build project
          command: |
            npm install
            bundle install
            bundle exec jekyll build
      - run:
          name: Deploy project
          command: |
            if [ $CIRCLE_BRANCH == 'develop' ]; then
              bash .circleci/deploy.sh
            fi
workflows:
  version: 2
  build:
    jobs:
      - deploy:
          filters:
            branches:
              ignore:
                - master
