<footer id="footer">
  <div class="container">
    <div id="footer-row" class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="footer-head">ALL GIFTS TAX DEDUCTIBLE</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Komolion Human Development Fund is a non-profit organization pursuant to Section 501(c)(3) of the United
            States Internal Revenue Code. Your donation may qualify for an income tax deduction in accordance with
            Federal and/or State income tax laws. Please consult with your tax advisor to determine whether your donation
            is tax deductible in whole or in part. Nothing in this communication is intended to constitute legal or tax
            advice.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="footer-head">GET IN TOUCH</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col col-2">{% octicon home height:24 aria-label:address class:"footer-icon" %}</div>
          <div class="col col-10">
            <div class="row">Komolion Human Development Fund</div>
            <div class="row">P.O. Box 2031</div>
            <div class="row">Hewitt, TX 76643-2031</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col col-2">{% octicon mail height:24 aria-label:address class:"footer-icon" %}</div>
          <div class="col col-10">
            <div class="row">
              <a id="contact-email" href="mailto:contact@komolionfund.org">contact@komolionfund.org</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="footer-head">SEAL OF TRANSPARENCY</p>
          </div>
        </div>
        <div class="footer-body">
          <div class="row">
            <div class="col">
              We’ve earned GuideStar’s Seal of Transparency for 2018. Click the badge below to learn more.
            </div>
          </div>
          <div class="row">
            <a id="guide-star"
               class="col"
               href="https://www.guidestar.org/profile/82-0767577"
               target="_blank">
              <img src="https://widgets.guidestar.org/gximage2?o=9595567&amp;l=v4">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
