<div class="pt-5 w-100 mh-60 bg-dark text-light">
  <div class="container-xxl gx-5">
    <div class="row">
      <div class="col col-md-4 col-12 mb-5">
        <p class="mb-3">ALL GIFTS TAX DEDUCTIBLE</p>
        <p class="mb-0">
          Komolion Human Development Fund is a non-profit organization pursuant
          to Section 501(c)(3) of the United States Internal Revenue Code. Your
          donation may qualify for an income tax deduction in accordance with
          Federal and/or State income tax laws. Please consult with your tax
          advisor to determine whether your donation is tax deductible in whole
          or in part. Nothing in this communication is intended to constitute
          legal or tax advice.
        </p>
      </div>

      <div class="col col-md-4 col-12 mb-5">
        <p class="mb-3">GET IN TOUCH</p>

        <div class="row mb-3">
          <p class="mb-0">Komolion Human Development Fund</p>
          <p class="mb-0">P.O. Box 2031</p>
          <p class="mb-0">Hewitt, TX 76643-2031</p>
        </div>

        <div class="row mb-4">
          <a class="text-light" href="mailto:contact@komolionfund.org">
            contact@komolionfund.org
          </a>
        </div>
        <div class="row">
          <p class="mb-2">FOLLOW US</p>

          <div class="d-flex gap-3 fs-4">
            <a
              class="text-light"
              href="https://www.facebook.com/people/Komolion-Human-Development-Fund/61589356289082/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Facebook"
            >
              <i class="bi bi-facebook"></i>
            </a>
            <a
              class="text-light"
              href="https://www.instagram.com/komolion_fund/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Instagram"
            >
              <i class="bi bi-instagram"></i>
            </a>

            <a
              class="text-light"
              href="https://www.linkedin.com/company/komolion-human-development-fund"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="LinkedIn"
            >
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col col-md-4 col-12">
        <p class="mb-3">SEAL OF TRANSPARENCY</p>
        <p>
          We've earned GuideStar's Platinum Seal of Transparency. Click the
          badge below to learn more.
        </p>

        <div class="row justify-content-center mb-5">
          <a
            class="col-auto"
            target="_blank"
            href="https://www.guidestar.org/profile/82-0767577"
            rel="noreferrer noopener"
          >
            <img
              src="https://widgets.guidestar.org/gximage2?o=9595567&l=v4"
              alt="Seal of Transparency badge"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
