<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img id="nav-logo" src="../assets/images/nav-logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% for item in site.data.navigation %}
      <a href="{{ item.link }}"
         {% if page.url== item.link %} class="nav-item nav-link active"
         {% else %} class="nav-item nav-link"
         {% endif %}>
        {{ item.name }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>