@import "variables";

#footer {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  min-height: 60px;
  background-color: $footer-bg;
  color: $light;
}

.footer-head {
  font-weight: 500;
}

.footer-icon {
  fill: $primary;
  margin-right: 5px;
}

#guide-star > img {
  display: block;
  margin: 20px auto 0 auto;
  height: 125px;
}
