@import 'variables';

.jumbotron {
  background: url('../images/jumbotron.jpg') no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-overlay {
  background-color: $image-overlay;
}

.our-projects-image {
  box-shadow: $small-shadow;

  &:hover {
    box-shadow: $large-shadow;
  }
}

.featured-video {
  box-shadow: $small-shadow;
}
