@import "variables";

#jumbotron {
  background: url('../images/jumbotron.jpg') no-repeat;
  background-size: cover;
  height: 80vh;

  #jumbotron-text {
    text-shadow: 1px 1px 3px rgba(0,0,0,.3);
    font-weight: 500;
  }

  #jumbotron-rule {
    height: 2px;
    width: 50%;
    background-color: $primary;
  }

  #jumbotron-sub-text {
    text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  }

  #jumbotron-btn {
    color: $light;
    cursor: pointer;
  }
}

#mission-banner {
  border-top: thick solid $primary;
  padding-top: 50px;
  padding-bottom: 70px;

  #mission-title {
    font-size: 30px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 36px;
  }

  #mission-text {
    font-size: 18px;
    margin: 20px auto 0 auto;
  }
}

#core-values-banner {
  padding-top: 60px;
  padding-bottom: 70px;

  #core-values-title {
    font-size: 30px;
    margin: 0 auto 30px auto;
    line-height: 36px;
  }

  .core-value-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

  .core-value-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#donations-banner {
  padding-top: 30px;
  padding-bottom: 35px;

  #donations-banner-text {
    font-size: 24px;
    max-width: 960px;
    margin: 0 auto 0 auto;
    line-height: 36px;
  }
}

#our-projects-banner {
  padding-top: 70px;
  padding-bottom: 50px;

  #our-projects-title {
    font-size: 30px;
    margin: 0 auto 30px auto;
    line-height: 36px;
  }

  .our-projects-image {
    border-radius: 4px;
    border: 2px solid $primary;
    box-shadow: 0 4px 4px $shadow-gray, 0 0 4px $shadow-gray;
    &:hover {
      box-shadow: 0 10px 10px $shadow-gray, 0 0 10px $shadow-gray;
    }
  }

  .our-projects-image-title {
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 20px;
  }
}
