@import "variables";

#home-banner {
  background: url('../images/home-banner.jpg') no-repeat;
  background-size: cover;
  height: 80vh;
}

#banner-text {
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  font-weight: 500;
}

#banner-rule {
  height: 2px;
  width: 50%;
  background-color: $primary;
}

#banner-sub-text {
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

#banner-btn {
  color: $light;
  cursor: pointer;
}

#under-banner {
  border-top: thick solid $primary;
  padding-top: 40px;
  padding-bottom: 50px;
}

#under-banner-title {
  font-size: 30px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 36px;
}

#under-banner-text {
  font-size: 18px;
  margin: 20px auto 0 auto;
}
