@import "variables";

$theme-colors: (
  primary: $primary,
  light: $light
);

@import "../bootstrap/scss/bootstrap";
@import "navigation";
@import "footer";
@import "home";
@import "about";
@import "team";
