@import 'variables';

#navigation {
  background-color: $light;
  box-shadow: $nav-shadow;
  font-weight: 500;

  .navbar {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .navbar-toggler {
    padding: 0;
    line-height: 30px;
  }

  button:focus {
    outline: none;
  }
}

.nav-logo {
  height: 50px;
}

#nav-spacer {
  // height: 68px;
  height: 122px;
  @media (max-width: 948px) {
    height: 146px;
  }
  @media (max-width: 497px) {
    height: 170px;
  }
  @media (max-width: 346px) {
    height: 194px;
  }
}

#prayer-request {
  padding: 15px 0;
  text-align: center;
  background-color: $primary;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }
}
