@import 'variables';

#navigation {
  background-color: $light;
  box-shadow: $nav-shadow;
  font-weight: 500;

  .navbar {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .navbar-toggler {
    padding: 0;
    line-height: 30px;
  }

  button:focus {
    outline: none;
  }
}

.nav-logo {
  height: 50px;
}

#nav-spacer {
  height: 66px;
}
