@import 'variables';

.project-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.project-image-overlay {
  background-color: $image-overlay;
}

.project-container {
  max-width: 768px;
}

.project-body-image {
  box-shadow: $small-shadow;
}
