@import 'variables';

.project-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image-overlay {
  height: 100%;
  width: 100%;
  background-color: $image-overlay;
}

.project-title {
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: $font-family-header;
  font-weight: 700;
}

.project-description-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-description {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
