@import "variables";

.team-member-row {
  height: 320px;
}

.team-member-photo {
  height: 250px;
  border-radius: 10px;
  border: thick solid $primary;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.75);
}

.team-member-title {
  font-size: 20px;
  font-weight: 500;
}

#contact-email {
  color: $light;
}
