@import 'variables';

.team-member-row {
  height: 320px;
}

.team-member-photo {
  height: 250px;
  border-radius: 10px;
  border: thick solid $primary;
  box-shadow: $small-shadow;
}

.team-member-title {
  font-size: 20px;
  font-weight: 500;
}

#contact-email {
  color: $light;
}

.text-linkedin {
  color: $linkedin;
}
