$primary: #009900;
$secondary: #e0e0e0;
$light: #f6f6f6;
$footer-bg: #252525;
$linkedin: #0077b5;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light
);

.text-linkedin {
  color: $linkedin;
}
