---
layout: default
---

<div class='project-container bg-light'>
  <div class='project-image' style='background-image: url({{ page.hero }}); height: 50vh;'>
    <div class='project-image-overlay'>
      <div class='container-fluid h-100'>
        <div class='row align-items-center h-100'>
          <h1 class='col project-title text-center display-4 text-light'>{{ page.title | upcase }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid'>
    <div class='project-description-row row'>
      <div class='project-description'>
        {{ content }}
        {% for photo in page.photos %}
          <img class="project-body-image" src="{{ photo.src }}" alt="{{ photo.alt }}" width="100%"/>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
